<div>
    <h1>
        File Expense
    </h1>

    <br />

    <form id="fileExpenseContainerDiv">

        <h2>Type</h2>
        <select id="fileExpense-expenseType">
            <option value="Fuel">Fuel</option>
            <option value="Car Part">Car Part</option>
            <option value="Travel">Travel</option>
            <option value="Miscellaneous">Miscellaneous</option>
        </select>

        <p>Amount:</p>
        <input type="text" maxlength="7" id="fileExpense-Amount" name="amount" /><br />
        <p>Notes:</p>
        <textarea type="text" maxlength="200" id="fileExpense-Notes" rows="4" cols="50" name="notes" /><br /><br />

        <button id="fileExpense-Button">Approve</button>
    </form>



</div>