<div>
    <h1>
        Edit Account
    </h1>

    <br />

    <form id="editAccountDiv">

        <p>First Name*:</p>
        <input type="text" maxlength="50" id="editAccount-firstName" name="firstName" readonly /><br />
        <p>Last Name*:</p>
        <input type="text" maxlength="50" id="editAccount-lastName" name="lastName" /><br />
        <p>Date of Birth*:</p>
        <input type="date" id="editAccount-dateofBirth" value="2000-01-01" name="dateofBirth" readonly><br />
        <p>Email*:</p>
        <input type="email" maxlength="50" id="editAccount-email" name="email" /><br />
        <p>Door Number*:</p>
        <input type="number" maxlength="4" id="editAccount-houseNumber" name="houseNumber" /><br />
        <p>Address Line 1*:</p>
        <input type="text" maxlength="50" id="editAccount-address1" name="address1" /><br />
        <p>Address Line 2:</p>
        <input type="text" maxlength="50" id="editAccount-address2" name="address2" /><br />
        <p>Town/City*:</p>
        <input type="text" maxlength="50" id="editAccount-city" name="city" /><br />
        <p>Postcode*:</p>
        <input type="text" maxlength="10" id="editAccount-postCode" name="postCode" /><br />
        <br />

        <button id="editAccount-Button">Save Changes</button>
    </form>



</div>