<div>
    <h1>
        My Account
    </h1>
    <br />

    <p>UserName:</p>
    <input type="text" maxlength="20" id="staffAccount-userName" readonly /><br />
    <p>First Name:</p>
    <input type="text" maxlength="50" id="staffAccount-firstName" readonly /><br />
    <p>Last Name:</p>
    <input type="text" maxlength="50" id="staffAccount-lastName" readonly /><br />
    <p>Email:</p>
    <input type="text" maxlength="50" id="staffAccount-email" readonly /><br />
    <p>Door Number:</p>
    <input type="text" maxlength="15" id="staffAccount-number" readonly /><br />
    <p>Address:</p>
    <input type="text" maxlength="50" id="staffAccount-address1" readonly /><br />
    <input type="text" maxlength="50" id="staffAccount-address2" readonly /><br />
    <p>Town / City:</p>
    <input type="text" maxlength="50" id="staffAccount-city" readonly /><br />
    <p>Postcode:</p>
    <input type="text" maxlength="10" id="staffAccount-postcode" readonly /><br /><br />
    <p>Comapny Position:</p>
    <input type="text" maxlength="10" id="staffAccount-position" readonly /><br />
    <p>Salary:</p>
    <input type="text" maxlength="10" id="staffAccount-salary" readonly /><br /><br />
    <p>Dealership:</p>
    <input type="text" maxlength="15" id="staffAccount-dealership" readonly /><br /><br />
    <a href="#!/editAccount">Edit Account</a>
</div>