<div>
    <h1>
        Manage Your Services
    </h1>
    <br />
    <br />
    <div>
        <table id="previousServicesTable">
            <tr><th>Service ID</th><th>Car</th><th>Dealership</th><th>Date</th></tr>
        </table>
    </div>
</div>