<div>
    <h1>
        Add Service Log
    </h1>
    <br />

    <h2>Process</h2>
    <form id="addServiceForm">
        <select id="addService-processType">
            <option value="Evaluation">Evaluation</option>
            <option value="Service-Light">Service-Light</option>
            <option value="Service-Moderate">Service-Moderate</option>
            <option value="Service-Major">Service-Major</option>
            <option value="MOT">MOT</option>
        </select>


        <p>Notes:</p>
        <textarea type="text" maxlength="200" id="addService-Notes" rows="4" cols="50" name="notes"/><br />
        <p>Additional Costs:</p>
        <input type="text" maxlength="7" id="addService-additionalCosts" name="additionalCost"/><br /><br />

        <button id="ServiceLog-button" type="button">Save</button>
    </form>
</div>