<div>
    <h1>
       Services View 
    </h1>

    <br />

    <div id="viewServiceContainerDiv">
        <p>Car: </p>
        <p id="viewService-Car"></p><br />
        <p>Customer: </p>
        <p id="viewService-customer"></p><br />
        <p>Location: </p>
        <p id="viewService-location"></p><br />
        <p>Date: </p>
        <p id="viewService-date"></p><br />
    </div>
</div>