﻿<p>
    <a id="serviceSelect" class="selected" href="#!/manageServices">Service</a>
    <a id="expensesSelect" class="notselected" href="#!/expenses">Expenses</a>
    <a id="accountLogSelect" class="notselected" href="#!/myAccount">Account</a>
</p>
<script>
    $('#serviceSelect').click(function () {
        if ($('#serviceSelect').hasClass('selected')) { } else {
            $('#serviceSelect').removeClass('notselected').addClass('selected');
            $('#expensesSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#expensesSelect').click(function () {
        if ($('#expensesSelect').hasClass('selected')) { } else {
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
            $('#expensesSelect').removeClass('notselected').addClass('selected');
        }
    });

    $('#accountLogSelect').click(function () {
        if ($('#accountLogSelect').hasClass('selected')) { } else {
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#expensesSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('notselected').addClass('selected');
        }
    });
</script>